<html>

<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body style="background-color:#997720">

<h1 style="text-align:center">Incoming requests</h1>


<div class="container" style="background-color:white">
<% for (var i=data.length - 1; i >= 0 ; i--) { %>
  <div class="card">
    <ul class="list-group list-group-flush">
    <% if (data[i].headers['x-wix-application-id']) { %>
      <li class="list-group-item"> <b>App ID</b>: <%- data[i].headers['x-wix-application-id'] %> </li>
      <li class="list-group-item"> <b>Instance ID:</b> <%- data[i].headers['x-wix-instance-id'] %> </li>
      <li class="list-group-item"> <b>Signature:</b> <%- data[i].headers['x-wix-signature'] %> </li>
      <li class="list-group-item"> <b>Webhook type:</b> <%- data[i].headers['x-wix-event-type'] %> </li>
    <% } %>
      <li class="list-group-item"> <b>Body:</b>  <%- JSON.stringify(data[i].body) %> </li>
    </ul>
  </div>
  <% } %>
</div>
</body>

</html>
